[submodule "extension/PDE"]
	path = extension/PDE
	url = git@github.com:MildC/PDE.git
[submodule "extension/yasnippet"]
	path = extension/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "extension/projectile"]
	path = extension/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "extension/helm"]
	path = extension/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "extension/flymake-ruby"]
	path = extension/flymake-ruby
	url = git://github.com/purcell/flymake-ruby.git
